@import '~@angular/material/theming';
@import 'variables';
@include mat-core();

$theme: mat-light-theme((
    color: (
        primary: $primary,
        accent: $accent,
    )
));

@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
