<div class="component-center-content">
    <form [formGroup]="geoDistanceForm" class="geo-distance-content-box">
        <p class="mat-h2">First location</p>

        <table>
            <tr>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="locationALatitude" />
                    <mat-error *ngIf="geoDistanceForm.get('locationALatitude').hasError('required')">
                        Latitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('locationALatitude').hasError('pattern')">
                        Latitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="locationALongitude" />
                    <mat-error *ngIf="geoDistanceForm.get('locationALongitude').hasError('required')">
                        Longitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('locationALongitude').hasError('pattern')">
                        Longitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
            </tr>
        </table>

        <p class="mat-h2">Second location</p>

        <table>
            <tr>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="locationBLatitude" />
                    <mat-error *ngIf="geoDistanceForm.get('locationBLatitude').hasError('required')">
                        Latitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('locationBLatitude').hasError('pattern')">
                        Latitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="locationBLongitude" />
                    <mat-error *ngIf="geoDistanceForm.get('locationBLongitude').hasError('required')">
                        Longitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('locationBLongitude').hasError('pattern')">
                        Longitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
            </tr>
        </table>

        <p class="mat-h2">Unit</p>

        <mat-form-field appearance="fill">
            <mat-label>Unit</mat-label>
            <mat-select formControlName="unit" name="food">
                <mat-option [value]="0">
                    Kilometer
                </mat-option>
                <mat-option [value]="1">
                    Mile
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="geo-distance-content-box">
        <p class="mat-h2">Calculated distance:</p>
        <ng-container *ngIf="distance$ | async as data; else enterCoordinates">
            <ng-container *ngIf="!data.isLoading; else loading">
                <p class="mat-h1 result">{{ data.value.value | number }} {{ data.value.unit }}</p>
            </ng-container>
            <ng-template #loading>
                <mat-spinner [diameter]="44"></mat-spinner>
            </ng-template>
        </ng-container>

        <ng-template #enterCoordinates>
            <p class="mat-h1">Enter coordinates to calculate distance</p>
        </ng-template>
    </div>
</div>

