<div class="component-center-content">
    <form [formGroup]="geoDistanceForm" class="geo-distance-content-box">
        <p class="mat-h2">First location</p>

        <table>
            <tr>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="initialLatitude" />
                    <mat-error *ngIf="geoDistanceForm.get('initialLatitude').hasError('required')">
                        Latitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('initialLatitude').hasError('pattern')">
                        Latitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="initialLongitude" />
                    <mat-error *ngIf="geoDistanceForm.get('initialLongitude').hasError('required')">
                        Longitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('initialLongitude').hasError('pattern')">
                        Longitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
            </tr>
        </table>

        <p class="mat-h2">Second location</p>

        <table>
            <tr>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="targetLatitude" />
                    <mat-error *ngIf="geoDistanceForm.get('targetLatitude').hasError('required')">
                        Latitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('targetLatitude').hasError('pattern')">
                        Latitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
                <td>
                <mat-form-field appearance="fill">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="targetLongitude" />
                    <mat-error *ngIf="geoDistanceForm.get('targetLongitude').hasError('required')">
                        Longitude value is required
                    </mat-error>
                    <mat-error *ngIf="geoDistanceForm.get('targetLongitude').hasError('pattern')">
                        Longitude must be a valid number
                    </mat-error>
                </mat-form-field>
                </td>
            </tr>
        </table>

        <p class="mat-h2">Unit</p>

        <mat-form-field appearance="fill">
            <mat-label>Unit</mat-label>

            <mat-select formControlName="unit">
                <mat-option *ngFor="let unit of DistanceUnit | keyvalue" [value]="unit.key">
                    {{ unit.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <p class="mat-h2">Calculation method</p>

        <mat-form-field appearance="fill">
            <mat-label>Method</mat-label>

            <mat-select formControlName="method">
                <mat-option *ngFor="let method of GeoDistanceCalculationMethod | keyvalue" [value]="method.key">
                    {{ method.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="geo-distance-content-box">
        <p class="mat-h2">Calculated distance:</p>
        <ng-container *ngIf="distance$ | async as data; else enterCoordinates">
            <ng-container *ngIf="!data.isLoading; else loading">
                <p *ngIf="data.error" class="mat-h1 mat-error">An error occurred</p>
                <p *ngIf="!data.error" class="mat-h1 result">{{ data.value.value | number }} {{ data.value.unit | lowercase }}</p>
            </ng-container>
            <ng-template #loading>
                <mat-spinner [diameter]="44"></mat-spinner>
            </ng-template>
        </ng-container>

        <ng-template #enterCoordinates>
            <p class="mat-h1">Enter coordinates to calculate distance</p>
        </ng-template>
    </div>
</div>

